_BASE_: "mask_rcnn_R50FPN_CLIP_sigmoid.yaml"
MODEL:
  WEIGHTS: https://github.com/hanoonaR/object-centric-ovd/releases/download/v1.0/lvis_ovd_rkd.pth
  RKD_FEAT_PATH: datasets/MAVL_proposals/coco_props/classagnostic_distilfeats
  DISTILLATION: True
  DISTIL_L1_LOSS_WEIGHT: 0.25
  NUM_DISTIL_PROP: 5
  IRM_LOSS_WEIGHT: 0.13
OUTPUT_DIR: output/lvis_ovd_RKD